.movies-list {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.movies-item {
  &:not(:last-child) {
    @media screen and (max-width: $tablet - 1) {
      margin-bottom: 20px;
    }
  }

  @media screen and (min-width: $tablet) {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: $desktop) {
    width: calc((100% - 3 * 30px) / 3);
  }
}

.poster {
  margin-bottom: 10px;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}

.info-title {
  margin-bottom: 2px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  text-transform: uppercase;
  color: $primaryBlackColor;
}

.info-container {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
  color: $primaryOrangeColor;
}

.info-list {
  margin-right: 10px;
}
